<!DOCTYPE html>

<html>
<head>
	<title>Dashboard</title>
</head>
<body>
	<h1>Dashboard</h1>
	<a href="{% url 'show_user_profile' %}">My Profile</a>
	{% if curr_user.user_status == 1%}
		<a href="{% url 'show_add_user' %}">Add User</a>
	{% endif %}
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Email</th>
				<th>Created At</th>
				{% if curr_user.user_status == 1 %}
					<th>User Status</th>
					<th>Action 1</th>
					<th>Action 2</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for user in all_users%}
			<tr>
				<td>{{user.id}}</td>
				<td><a href="../../user_wall">{{user.username}}</a></td>
				<td>{{user.email}}</td>
				<td>{{user.created_at}}</td>
				{% if curr_user.user_status == 1 %}
					{% if user.user_status == 1 %}
						<td>Admin</td> 
					{% else %}
						<td>Normal</td>
					{% endif %}
					{% if user.user_status != 1 %}
						<td><a href="{% url 'show_admin_edit' user.id %}">edit</a></td>
						<!-- user who is admin can't remove himself, only when status is changed to normal can he/she be removed-->
						<td><a href="{% url 'delete_user' user.id %}">remove</a></td>
					{% endif %}
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>